// 
//  Events
//  ---------------------------------

.btn {
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 50px;
  padding-right: 50px;
  background: $btn-background;
  color: $btn-color;
  border: 1px solid darken($btn-background, 10%);
  border-radius: 5px;
  letter-spacing: .05em;
}
.btn-sm {
  font-size:floor($font-size-base * 0.9);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  
}
.btn-lg {
  font-size: floor($font-size-base * 1.25);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 6px;
}
.btn-secondary {
  background: $btn-secondary-background;
  border: 1px solid $btn-secondary-border;
  color: $btn-secondary-color;
}