// 
//  Event
//  ---------------------------------


.event {
  border-bottom: 1px solid $base-border;
  
  &.last-child {
    border-bottom: none;
  }
  
  .inner {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .inner {
    font-size: floor($font-size-base * .9);
    
    @media screen and (max-width: $screen-sm) {
      text-align: center !important;
    }
    
  }
}


// Event image
//---------------------

.event-image {
  width: 150px;
    
  @media screen and (max-width: $screen-sm) {
    padding-top: 25px !important;
    padding-bottom: 0 !important;
  }
  
  img {
    max-width: 100%;
  }
}


// Event details
//---------------------

.event-details {
  padding-left: 0px;
  padding-right: 0px;
  
  h5 {
    color: #900028;
    Margin-bottom: 5px;
  }
    
  @media screen and (max-width: $screen-sm) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}


// Event button
//---------------------

.event-btn {
    
  @media screen and (max-width: $screen-sm) {
    padding-top: 0 !important;
    padding-bottom: 25px !important;
  }
  
  .btn {
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    
    @media screen and (max-width: 600px) {
      display: inline-block !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  
}

.event-sold {
  text-align: center;
  font-weight: bold;
}


// Misc event utilities
//---------------------

.event-empty {
  @media screen and (max-width: $screen-sm) {
    display: none !important;
  }
}

.event-more {
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}