/***************************************************
****************************************************
MOBILE TARGETING
****************************************************
***************************************************/
@media only screen and (max-width: 599px) {
  body[yahoo] {
    a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: inherit !important;
        cursor: default !important;
      }
    }
    .date a,
    .mobile-text a{
      text-decoration: none !important;
      color: inherit !important;
      cursor: default !important;
    }
    
    .mobile-link a {
      &[href^="tel"],
      &[href^="sms"] {
        text-decoration: none !important;
        color: $link-color !important;
        pointer-events: auto !important;
        cursor: default !important;
      }
    }
    img {
      max-width:100% !important;
      height: auto !important;
    }
    table {
      height: auto;
    }
    .header,
    .preheader {
      background: #ffffff !important;
    }
    .header,
    .preheader,
    .footer,
    .innerContent,
    .innerContent table {
      width: 100% !important;
    }
    .innerContent {
      border-width: 0 !important;
    }
    .header,
    .preheader,
    .footer {
      td {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .column33,
    .column50 {
      img {
        float: left !important;
        width: 30% !important;
        min-width: 120px !important;
        height: auto !important;
        padding-right: 20px !important;
        padding-bottom: 10px !important;
      }
      .title {
        padding-top: 0 !important;
      }
      .more {
        display: inline-block !important;
        padding: 0 !important;
      }
    }
    .spacer,
    .spacer50,
    .spacer33 {
      display: none !important;
    }
    td[width="30"],
    .spacer30 {
      width: 15px !important;
    }
    .row-clear {
      height: 0 !important;
    }
    .ads {
      padding-top: 50px !important;
      padding-bottom: 50px !important;
    }
    .section-header {
      padding-left: 15px !important;
    }
    .more {
      font-size: $font-size-base !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .more-news,
    .events {
      padding-left: 15px !important;
    }
    .sidebar-items {
      padding-bottom: 0px !important;
      padding-top: 20px !important;
    }
    .sidebar-item,
    .sidebar-more {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 15px !important;
      padding-bottom: 15px !important;
      padding-top: 0 !important;
    }
    .sidebar-item .title-sm {
      padding-top: 0 !important
    }
    .sidebar-more {
      padding-bottom: 0 !important;
    }
    .sidebar-header {
      @include section-header(true);
    }
    .sidebar-item {
      float: left !important;
      max-width: 50% !important;
      vertical-align: top !important;
    }
    .sidebar-item:nth-of-type(3n+1),
    .sidebar-header,
    .sidebar-more {
      clear:both !important;
    }
    .footer-nav,
    .column-sidebar,
    .mobile-full {
      tbody,
      tr,
      td {
        display: block !important;
        width: 100% !important;
      }
      colgroup,
      .spacer {
        display: none !important;
      }
    }
  }
}
@media only screen and (max-width: 539px) {
  body[yahoo] {
    .sidebar-item {
      &:nth-of-type(3n+1) {
        clear:none;
      }
      &:nth-of-type(2n+1) {
        clear:both;
      }
    }
  }
}
@media only screen and (max-width: 499px) {
  .header-logo,
  .header-subheader {
    float: none !important;
    padding-bottom:12px !important;
    display: block !important;
    text-align: left !important;
  }
  .header-subheader {
    text-align: left !important;
    padding-bottom: 30px !important;
    padding-top: 0px !important;
  }
}
@media only screen and (max-width: 375px) {
  body[yahoo] {
    .column33,
    .column50 {
      img {
        float: none !important;
        width: auto;
        max-width: 100%;
        min-width: 0 !important;
        width: auto !important;
      }
    }
  }
}
@media only screen and (min-width: 358px) {
  body[yahoo] {
    .column60, .column66 {
      img {
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
}

