// 
//  Section
//  ---------------------------------


// Section Header
//---------------------

.section-header {
  background-color: #5b6f7b;
  color: $btn-color;
  display: inline;
  display: inline-block;
  font-weight: $font-weight-base;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  Margin-bottom: 20px;
  text-align: center;
  font-size: floor($font-size-base*.95);
  
  a {
    color: $btn-color;        
  }
  
  @media screen and (max-width: 600px) { 
    Margin-left: -15px !important;
    padding-left: 15px !important;
    padding-right: 25px !important;
  }
}


// Section List
//---------------------

.section-list {
  list-style: none;
  Margin-left: 0;
  Margin-right: 0;
  Margin-bottom: 40px;
  padding-left:0;
  padding-right:0;
  
  li {
    Margin-bottom: 12px;
    padding-bottom: 11px;
    border-bottom: 1px solid #f2f2f2;
    
    small {
      display: block;
      color: $text-color;
    }
    &.last-child,
    &:last-child {
      Margin-bottom: 0;
      padding-bottom: 0;
      border: 0;
    }
  }
}
.section-list--last {
  Margin-bottom: 0;
}


// Sidebar
//---------------------

.sidebar-item {
  Margin-bottom: 40px;
  max-width: 170px;
  
  @media screen and (min-width: $screen-xs + 1) and (max-width: $screen-sm) { 
    Margin-bottom: 0px !important;
    max-width: 50% !important;
    float: left !important;
    
    td {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  
  @media screen and (max-width: $screen-sm) { 
    Margin-left: auto !important;
    Margin-right: auto !important;
    
    img {
      max-width: 100% !important;
    }
  }
}

.sidebar-header {
  padding-top: 4px;
  Margin-bottom: 25px;
  font-weight: bold;
  
  a {
    color: $text-color;
  }
}

.sidebar-text {
  font-size: floor($font-size-base * .9);
}